<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023-2024 Andrew Rechnitzer
    Copyright (C) 2023-2024 Colin B. Macdonald
    Copyright (C) 2023 Natalie Balashov
    Copyright (C) 2024 Aidan Murphy
-->
{% extends "base/base.html" %}
{% block title %}
    Scan bundles
{% endblock title %}
{% block page_heading %}
    Scan bundles
{% endblock page_heading %}
{% block main_content %}
    <div class="modal fade"
         id="safeModeDocModal"
         tabindex="-1"
         aria-labelledby="safeModeDocModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="safeModeDocModalLabel">About safe mode rendering</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        By default, Plom checks the content of each
                        page for a single large bitmap image, for
                        lossless extraction.  This is fast and usually
                        gives the highest possible image quality.
                    </p>
                    <p>
                        If Plom detects anything on the page other
                        than a single bitmap image (such as text, PDF
                        annotations, vector art, etc) it falls back on
                        &ldquo;rendering&rdquo; the page to generate a
                        bitmap.
                    </p>
                    <p>
                        In rare circumstances, the
                        auto-detection-based extraction could miss
                        overlaid annotations in student self-scanned
                        work.  Extraction could also give
                        unreasonably-large files, for unreasonable
                        scanner settings (such as very high DPI).
                    </p>
                    <p>
                        If you are experiencing problems with your
                        scans, you can tick the box to disable the
                        automatic extraction and force rendering in
                        all cases.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="card w-auto my-2">
                <div class="card-body">
                    <h5>Summary of pushed papers:</h5>
                    <div class="row">
                        <div class="col">
                            <p class="text-success">{{ complete_test_papers }} / {{ total_papers }} complete test papers</p>
                        </div>
                        <div class="col">
                            <p class="text-secondary">{{ unused_test_papers }} / {{ total_papers }} unused test papers</p>
                        </div>
                        <div class="col">
                            {% if incomplete_test_papers == 0 %}
                                <p class="text-success">all used papers complete</p>
                            {% else %}
                                <p class="text-danger">
                                    <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                                    {{ incomplete_test_papers }} incomplete test paper(s)
                                    <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-success" href="{% url 'scan_summary' %}">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card w-auto my-2">
                <div class="card-body">
                    <h5 class="card-title">Upload PDF bundle to staging area</h5>
                    {% if papers_have_been_printed %}
                        <form enctype="multipart/form-data"
                              method="post"
                              action="{% url 'scan_home' %}">
                            {% csrf_token %}
                            <input type="file" name="pdf" accept="application/pdf" required id="id_pdf">
                            <br />
                            <span class="text-muted small">pdf, &le;{{ bundle_size_limit }}MB, &le;{{ bundle_page_limit }} pages.</span>
                            <div class="form-check mt-1">
                                <input class="form-check-input"
                                       type="checkbox"
                                       id="force_render"
                                       name="force_render" />
                                <label class="form-check-label" for="force_render">
                                    Force safe mode rendering of each page
                                    (<a href="" data-bs-toggle="modal" data-bs-target="#safeModeDocModal">tell me more</a>)
                                </label>
                            </div>
                            <input type="submit" class="btn btn-secondary" value="Upload">
                        </form>
                        {% if upload_errors %}
                            <div class="alert alert-warning my-2">
                                Upload problems:
                                <ul>
                                    {% for v in upload_errors %}<li>{{ v }}</li>{% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% else %}
                        <a disabled>No bundles to upload - papers have not yet been printed.</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">{{ staged_bundles|length }} staged bundles:</h5>
            {% if staged_bundles %}
                <table class="table table-sm table-bordered text-center sortable">
                    <thead>
                        <!-- make sure thumbnail not too wide -->
                        <th style="width: 8vw;">Thumbnail</th>
                        <th>Bundle name</th>
                        <th>Uploaded by</th>
                        <th>Upload time</th>
                        <th>Pages</th>
                        <th>Actions</th>
                    </thead>
                    <!-- put this alpine variable here, so that all push buttons in these fragments can be disabled when any bundle pushed -->
                    <!-- annoyingly there is a case difference between js and python true/false, hence the string hacks -->
                    <tbody x-data="{midPush: '{{ is_any_bundle_push_locked }}'=='True' }">
                        {% for bundle in staged_bundles %}
                            <tr hx-get="{% url 'scan_get_staged_bundle_fragment' bundle.id %}"
                                hw-swap="innerHTML"
                                hx-trigger="load"
                                id="bundle{{ bundle.slug }}"></tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h6>No staged bundles</h6>
            {% endif %}
        </div>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">{{ pushed_bundles|length }} pushed bundles:</h5>
            {% if pushed_bundles %}
                <table class="table table-sm table-bordered text-center sortable">
                    <thead>
                        <!-- make sure thumbnail not too wide -->
                        <th style="width: 8vw;">Thumbnail</th>
                        <th>Bundle name</th>
                        <th>Uploaded by</th>
                        <th>Pages</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for bundle in pushed_bundles %}
                            <tr>
                                <td>
                                    <div class="bundle-thumb">
                                        <img src="{% url 'scan_get_thumbnail' bundle.id 1 %}" />
                                    </div>
                                </td>
                                <td>{{ bundle.slug }}.pdf</td>
                                <td>{{ bundle.username }}</td>
                                <td>{{ bundle.pages }}</td>
                                <td>
                                    <a class="btn btn-success"
                                       href="{% url 'scan_bundle_thumbnails' 'all' bundle.id %}">View</a>
                                    <a class="btn btn-secondary"
                                       target="_"
                                       href="{% url 'scan_get_bundle' bundle.id %}">Download</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h6>No pushed bundles</h6>
            {% endif %}
        </div>
    </div>
{% endblock main_content %}
