<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023-2024 Andrew Rechnitzer
    Copyright (C) 2023-2024 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Images discarded from bundles on push
{% endblock title %}
{% block page_heading %}
    Images discarded from bundles on push
{% endblock page_heading %}
{% block main_content %}
    <div class="flex">
        <a class="btn btn-primary" href="{% url 'scan_overview' %}">Bundle and paper overview</a>
        <a class="btn btn-primary" href="{% url 'scan_list_complete' %}">Complete papers</a>
        <a class="btn btn-primary" href="{% url 'scan_list_incomplete' %}">Incomplete papers</a>
    </div>
    <div class="card my-2">
        <div class="card-body">
            <div class="row">
                <h5>Reassign discarded image</h5>
                <div class="col">
                    <div style="justify-content: center; display:flex; align-items:center">
                        <img class="shadow-sm"
                             src="{% url 'pushed_img_rot' image_pk %}"
                             style="height: 55vh" />
                    </div>
                </div>
                <div class="col p-2 border">
                    <h5>Reassign the image</h5>
                    <div class="py-4" id="invalidmessage"></div>
                    <div>
                        <form hx-post="{% url 'reassign_discard' image_pk %}"
                              hx-target="#invalidmessage"
                              hx-swap="innerHTML">
                            <div x-data="{assignment_type: 'fixed'}">
                                <div class="form-radio">
                                    <p>
                                        <input class="form-check-input"
                                               type="radio"
                                               id="fixed"
                                               value="fixed"
                                               x-model="assignment_type" />
                                        <label class="form-check-label" for="fixed">missing fixed page from an incomplete paper</label>
                                    </p>
                                    <p>
                                        <input class="form-check-input"
                                               type="radio"
                                               id="mobile"
                                               value="mobile"
                                               x-model="assignment_type" />
                                        <label class="form-check-label" for="mobile">mobile page in an existing paper</label>
                                    </p>
                                </div>
                                <div class="container shadow-sm p-2">
                                    <div x-show="assignment_type=='fixed'">
                                        Select a missing fixed page from an incomplete paper:
                                        <select name="missingPaperPage" class="form-select">
                                            <option selected>Missing paper/page</option>
                                            {% for pn, pg_list in papers_missing_fixed_pages %}
                                                {% for pg in pg_list %}<option value="{{ pn }},{{ pg }}">paper {{ pn }} page {{ pg }}</option>{% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div x-show="assignment_type=='mobile'">
                                        Select a used paper:
                                        <select name="usedPaper" class="form-select">
                                            <option>---</option>
                                            {% for pn in used_papers %}<option value="{{ pn }}">paper {{ pn }}</option>{% endfor %}
                                        </select>
                                        Select questions:
                                        <div x-data="{allq: false}">
                                            <div class="form-check">
                                                <input name="questionAll"
                                                       value="all"
                                                       class="form-check-input"
                                                       type="checkbox"
                                                       id="questionall"
                                                       x-model="allq" />
                                                <label class="form-check-label" for="questionall">all questions</label>
                                            </div>
                                            <div x-show="!allq" x-transition>
                                                {% for qidx, qstr, qlabel in question_html_labels %}
                                                    <div class="form-check">
                                                        <input name="questions"
                                                               class="form-check-input"
                                                               type="checkbox"
                                                               value="{{ qidx }}"
                                                               id="qidx{{ qidx }}" />
                                                        <label class="form-check-label" for="qidx{{ qidx }}">{{ qlabel | safe }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary m-2" type="submit">Set data</button>
                        </form>
                        <a href="{% url 'scan_list_discard' %}">
                            <button class="btn btn-warning m-2">Go back</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
