<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Julian Lapenna
    Copyright (C) 2023-2024 Andrew Rechnitzer
-->
{% load static %}
<ul class="nav flex-column mt-2">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">
            {% if request.user.first_name %}
                {{ request.user.first_name }}
            {% else %}
                {{ request.user.username.lower }}
            {% endif %}
        </a>
    </li>
    <ul style="list-style-type: none">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
    </ul>
    {% if user_is_admin %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Manage Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'password_reset' %}">Password Reset Link</a>
        </li>
    {% elif user_is_manager %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">Manage Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'prep_landing' %}">Prepare Assessment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'scan_overview' %}">Scanning, bundles and papers</a>
        </li>
        <li class="nav-item accordion accordion-flush">
            <a class="nav-link" href="#progress">Mark / ID Progress</a>
            <div id="progress">
                <ul style="list-style-type: none">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'overview_landing' %}">Marking and IDing overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'progress_user_info_home' %}">User Info</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'rubrics_landing' %}">Rubrics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'soln_home' %}">Solutions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reassemble_pdfs' %}">Reassemble</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'reports_landing' %}">Spreadsheets & Reports</a>
        </li>
        <li class="nav-item accordion accordion-flush">
            <a class="nav-link" href="#development">In development</a>
            <div id="development">
                <ul style="list-style-type: none">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tags_landing' %}">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rectangle_home' %}">Rectangle extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'qtags_landing' %}">Question Tags</a>
                    </li>
                </ul>
            </div>
        </li>
    {% elif user_is_scanner %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'scan_overview' %}">Scanning</a>
        </li>
    {% elif user_is_marker %}
        {% if user_is_lead_marker %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview_landing' %}">Progress overview</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'progress_mark_home' %}">Marking progress</a>
            </li>
        {% endif %}
    {% endif %}
</ul>
