<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Brennen Chiu
    Copyright (C) 2023-2024 Colin B. Macdonald
    Copyright (C) 2024 Bryan Tanady
-->
{% extends "base/base.html" %}
{% block title %}
    User progress
{% endblock title %}
{% block page_heading %}
    User progress
{% endblock page_heading %}
{% block main_content %}
    <div>
        <div class="card w-100">
            <div class="card-body">
                <button class="btn btn-success m-2" type="submit">Modify probationary state/limit</button>
                <!-- Do some counting here and display how many are in prob -->
                <div>
                    <i class="bi bi-exclamation-diamond-fill text-info"></i> 8 Markers are in probation
                </div>
                {% if annotations_exist %}
                    <table class="table text-center align-middle">
                        <tr>
                            <th>Username</th>
                            <th>Question Marked</th>
                            <th>Limit</th>
                            <th>Limit Modifier</th>
                        </tr>
                        {% for user, annotation_count in annotation_count_dict.items %}
                            <tr>
                                <td>
                                    {{ user }}
                                    <i class="bi bi-exclamation-diamond-fill text-info"
                                       data-bs-toggle="tooltip"
                                       title="In Probation"></i>
                                </td>
                                <td>{{ annotation_count }}</td>
                                <td>20 (DEMO)</td>
                                <td>
                                    <a class="btn btn-warning" href="{}">set limit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="mb-3">
                <form method="get" action="">
                    <div>
                        <h6>
                            <b>Filter annotations by time:</b>
                        </h6>
                        <p>{{ annotation_filter_form.time_filter_seconds.label }} {{ annotation_filter_form.time_filter_seconds }}</p>
                        <p class="text-danger">{{ error }}</p>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
            <div class="mb-3">
                <p>
                    <b>Latest Updated Annotation: {{ latest_updated_annotation_human_time }}</b>
                </p>
            </div>
            <div>
                <ul class="nav nav-tabs" id="annotationTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="filter-by-user-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#filterByUserTab"
                                type="button"
                                role="tab"
                                aria-controls="filterByUserTab"
                                aria-selected="true">Filter By User</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="filter-by-question-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#filterByQuestionTab"
                                type="button"
                                role="tab"
                                aria-controls="filterByQuestionTab"
                                aria-selected="false">Filter By Question</button>
                    </li>
                </ul>
                <div class="tab-content" id="annotationTabContent">
                    <div class="tab-pane fade show active"
                         id="filterByUserTab"
                         role="tabpanel"
                         aria-labelledby="filter-by-user-tab">
                        <table class="table text-center align-middle sortable">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Question Index</th>
                                    <th>Question Version</th>
                                    <th>Annotations Count</th>
                                    <th>Average Marking Time</th>
                                    <th>Percentage Marked</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user, annotations in annotations_grouped_by_user.items %}
                                    {% for question_data, annotation_data in annotations.items %}
                                        <tr>
                                            <td>{{ user }}</td>
                                            <td>{{ question_data.0 }}</td>
                                            <td>{{ question_data.1 }}</td>
                                            <td>{{ annotation_data.annotations_count }}</td>
                                            <td sorttable_customkey={{ annotation_data.date_format }}>{{ annotation_data.average_marking_time }}
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar"
                                                         role="progressbar"
                                                         style="width: {{ annotation_data.percentage_marked }}%"
                                                         aria-valuenow="{{ annotation_data.percentage_marked }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">
                                                        {{ annotation_data.percentage_marked }}%
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade"
                         id="filterByQuestionTab"
                         role="tabpanel"
                         aria-labelledby="filter-by-question-tab">
                        <table class="table text-center align-middle sortable">
                            <thead>
                                <tr>
                                    <th>Question (Index , Version)</th>
                                    <th>Username</th>
                                    <th>Annotations Count</th>
                                    <th>Average Marking Time</th>
                                    <th>Percentage Marked</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for question, annotation_data in annotations_grouped_by_question_ver.items %}
                                    {% for annotation in annotation_data.annotations %}
                                        <tr>
                                            <td>{{ question.0 }} , {{ question.1 }}</td>
                                            <td>{{ annotation.marker }}</td>
                                            <td>{{ annotation.annotations_count }}</td>
                                            <td sorttable_customkey={{ annotation.date_format }}>{{ annotation.average_marking_time }}
                                            </td>
                                            <td>
                                                <div class="progress">
                                                    <div class="progress-bar"
                                                         role="progressbar"
                                                         style="width: {{ annotation.percentage_marked }}%"
                                                         aria-valuenow="{{ annotation.percentage_marked }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="100">{{ annotation.percentage_marked }}%</div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No annotations</p>
        {% endif %}
    </div>
{% endblock main_content %}
