<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Divy Patel
    Copyright (C) 2023-2024 Colin B. Macdonald
    Copyright (C) 2024 Aidan Murphy
    Copyright (C) 2024 Aden Chan
-->
{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Rubric Info - {{ latest_rubric.key }}
{% endblock title %}
{% block page_heading %}
    Rubric Info
{% endblock page_heading %}
{% block main_content %}
    <div class="container m-0">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Rubric {{ latest_rubric.key }}, revision {{ latest_rubric.revision }}</h5>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">ID</th>
                                    <td>{{ latest_rubric.key }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kind</th>
                                    <td>{{ latest_rubric.kind }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Created By</th>
                                    <td>{{ latest_rubric.user }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last Modified</th>
                                    <td>{{ latest_rubric.last_modified|naturaltime }} by {{ latest_rubric.modified_by_user }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">System Rubric</th>
                                    <td>{{ latest_rubric.system_rubric }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Used</th>
                                    <td>
                                        {{ marking_tasks|length }}
                                        {% if marking_tasks|length == 1 %}
                                            time
                                        {% else %}
                                            times
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Preview</th>
                                    <td>{{ latest_rubric_as_html|safe }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                {% if revisions %}
                    <div class="card mb-2">
                        <h5 class="card-header">Compare Revisions</h5>
                        <div class="card-body">
                            <form method="post"
                                  class="form-inline"
                                  hx-post="{% url 'compare_rubrics' latest_rubric.key %}"
                                  hx-target="#diff-result"
                                  hx-swap="innerHTML">
                                {% csrf_token %}
                                <label class="sr-only" for="inlineFormInputName2">Compare</label>
                                {{ diff_form.left_compare }}
                                <label for="inlineFormInputGroupUsername2">with</label>
                                {{ diff_form.right_compare }}
                                <button type="submit" class="btn btn-primary">Compare</button>
                            </form>
                            <div id="diff-result"></div>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <h5 class="card-header">Past Revisions</h5>
                    <div class="card-body">
                        <div class="accordion" id="accordion">
                            {% for revision in revisions reversed %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse-{{ forloop.counter }}"
                                                aria-expanded="false"
                                                aria-controls="collapse-{{ forloop.counter }}">
                                            Revision {{ revision.revision }} - by {{ revision.modified_by_user }} {{ revision.last_modified|naturaltime }}
                                        </button>
                                    </h2>
                                    <div id="collapse-{{ forloop.counter }}"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="heading-{{ forloop.counter }}">
                                        <div class="accordion-body">
                                            <table style="color:#FF0000;">
                                                <tr>
                                                    <td style="padding:2px;
                                                               border-width:1px;
                                                               border-style:solid;
                                                               border-color:#FF0000">
                                                        <b>{{ revision.display_delta }}</b>
                                                    </td>
                                                    <td style="padding:2px;
                                                               border-width:1px;
                                                               border-style:dotted;
                                                               border-color:#FF0000;
                                                               border-left-style:None">{{ revision.text }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                None found
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form action="{% url 'rubric_edit' latest_rubric.key %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <h2 class="mt-5">Marking tasks</h2>
    <table class="table table-striped table-bordered sortable table-sm table-responsive w-50">
        <thead>
            <tr>
                <th>Paper</th>
                <th>Question index</th>
                <th>Version</th>
                <th>Edition</th>
                <th>Username</th>
                <th>Score</th>
                <th>More information</th>
            </tr>
        </thead>
        <tbody>
            {% for task in marking_tasks %}
                <tr>
                    <td>{{ task.paper.paper_number }}</td>
                    <td>{{ task.latest_annotation.edition }}</td>
                    <td>{{ task.question_index }}</td>
                    <td>{{ task.question_version }}</td>
                    <td>{{ task.assigned_user }}</td>
                    <td>{{ task.latest_annotation.score_str }}</td>
                    <td class="text-center">
                        <a class="btn btn-outline-primary"
                           href="{% url 'progress_marking_task_details' task.pk %}">view task</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}
