<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2024 Elisa Pan
    Copyright (C) 2024 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
{% block page_heading %}
    Question Tags
{% endblock page_heading %}
{% block main_content %}
    <p>
        Tagging questions is a beta feature intended to support more
        detailed analysis during or after an assessment. For example,
        one might tag questions according to their learning objective,
        format, or topic.
    </p>
    {% if error_message %}<div class="alert alert-danger">{{ error_message }}</div>{% endif %}
    <h3>Questions</h3>
    <a href="{% url 'download_question_tags' %}?format=csv&csv_type=questions"
       class="btn btn-primary">Download qtags-link CSV</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style=" width: 25%;">Question Index</th>
                <th style=" width: 15%;">Question Label</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for index, label_str, label_html in question_label_triple %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ label_html|safe }}</td>
                    <td id="question-tags-{{ index }}">
                        <div>
                            <span class="dropdown add-tag-button">
                                <button class="btn btn-success dropdown-toggle"
                                        type="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">Add tag</button>
                                <ul class="dropdown-menu">
                                    {% for tag in tags %}
                                        <li class="p-2">
                                            <form method="post" action="{% url 'qtags_landing' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="question_index" value="{{ index }}">
                                                <input type="hidden" name="tag_id" value="{{ tag.id }}">
                                                <button class="badge bg-success fs-6 align-middle dropdown-item py-2 text-start"
                                                        type="submit"
                                                        name="add_tag">
                                                    <i class="bi bi-plus-square pe-1"></i>{{ tag.tag_name }}
                                                </button>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </span>
                            {% for question_tag in question_tags %}
                                {% if question_tag.question_index == index %}
                                    {% for qt in question_tag.questiontaglink_set.all %}
                                        <span id="tag-{{ qt.id }}" class="badge bg-primary align-middle tag">
                                            <a href="#"
                                               class="text-white"
                                               data-bs-toggle="modal"
                                               data-bs-target="#tagModal"
                                               data-tag-name="{{ qt.tag.tag_name }}"
                                               data-tag-description="{{ qt.tag.text }}">{{ qt.tag.tag_name }}</a>
                                            <form method="post" action="{% url 'qtags_landing' %}" class="d-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="question_tag_id" value="{{ qt.id }}">
                                                <button class="btn btn-primary btn-sm p-0 ms-1"
                                                        type="submit"
                                                        name="remove_tag">
                                                    <i class="bi bi-x"></i>
                                                </button>
                                            </form>
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'download_question_tags' %}?format=csv&csv_type=tags"
       class="btn btn-primary">Download tags CSV</a>
    <br />
    <h3>Manage Tags</h3>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#createTagModal">Create Tag</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editTagModal">Edit Tag</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#deleteTagModal">Delete Tag</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#importTagModal">Import Tag</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style=" width: 25%;">Tag Name</th>
                <th>Tag Description</th>
                <th>Confidential information (not shown to students)</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.tag_name }}</td>
                    <td>{{ tag.text }}</td>
                    <td>{{ tag.confidential_info }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "Questiontags/modal_forms.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <script>
        $(document).ready(function() {
            $('#tag_id_edit').select2({
                placeholder: 'Select or search for tags',
                allowClear: true
            });
            $('.tag-link').on('click', function() {
                var tagName = $(this).data('tag-name');
                var tagDescription = $(this).data('tag-description');
                $('#modalTagName').text(tagName);
                $('#modalTagDescription').text(tagDescription);
            });

            $('#tag_id_edit').change(function() {
                var selectedTag = $(this).val();
                var selectedTagText = $(this).find('option:selected').text().trim();
                $('#tagName_edit').val(selectedTagText);
                var selectedTagDescription = $(this).find('option:selected').data('description').trim();
                $('#text_edit').val(selectedTagDescription);
                var selectedTagconfidential_info = $(this).find('option:selected').data('confidential_info').trim();
                $('#confidential_info_edit').val(selectedTagconfidential_info);
            });

            $('#tagModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var tagName = button.data('tag-name'); // Extract info from data-* attributes
                var tagDescription = button.data('tag-description');
                var modal = $(this);
                modal.find('#modalTagName').text(tagName);
                modal.find('#modalTagDescription').text(tagDescription);
            });
        });
    </script>
    <style>
        .select2-container {
            z-index: 9999;
        }
    </style>
{% endblock main_content %}
