<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023-2024 Andrew Rechnitzer
    Copyright (C) 2023-2024 Colin B. Macdonald
    Copyright (C) 2024 Bryan Tanady
-->
<div class="d-grid gap-2">
    {% if not db_initialised %}
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bi bi-exclamation-triangle-fill text-warning fs-1"></i>
                    Database not initialised
                </h5>
                <p class="card-text">You must initialize the database before building PDFs.</p>
            </div>
        </div>
    {% endif %}
    <div>
        <a class="btn btn-primary"
           hx-post="{% url 'start_all_PDFs' %}"
           hx-target="#pdf_table">Build All PDFs</a>
        {% if pdf_errors %}
            <a class="btn btn-warning"
               hx-post="{% url 'retry_all_PDFs' %}"
               hx-target="#pdf_table">Retry All</a>
        {% endif %}
        <a class="btn btn-danger"
           hx-post="{% url 'cancel_all_PDFs' %}"
           hx-target="#pdf_table">Cancel All</a>
        <a class="btn btn-danger"
           data-bs-toggle="modal"
           data-bs-target="#deleteBtnModal">Delete All PDFs</a>
        {% if zip_enabled %}
            <a class="btn btn-primary" href="{% url 'zip_stream_paperPDFs' %}">Save as zip file</a>
        {% else %}
            <button class="btn btn-warning" disabled>Save as zip file (once build complete)</button>
        {% endif %}
    </div>
    <p class="mb-1">{{ message }}</p>
</div>
<!-- <a class="btn btn-primary" hx-get="{% url 'update_paperPDFs' %}" hx-target="#pdf_table">Refresh status</a> -->
<table class="table table-striped"
       {% if poll %} hx-get="{% url 'update_paperPDFs' %}" hx-target="#pdf_table" hx-trigger="every 0.5s" {% endif %}>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Filename</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    {% for task in tasks %}
        <tr style="{% if task.obsolete %} text-decoration: line-through;
                   {% endif %}">
            <!-- Note: uses the symbolic constants defined in HueyTaskTracker -->
            <td>{{ task.paper_number }}</td>
            <td>
                {% if task.status == 'Complete' and not task.obsolete %}
                    <a target="_blank" href="{% url 'get_paperPDFs' task.paper_number %}">{{ task.pdf_filename }}</a>
                {% else %}
                    {{ task.pdf_filename }}
                {% endif %}
            </td>
            {% if task.status == 'Complete' %}
                <td>
                    {% if task.obsolete %}Obsolete:&nbsp;{% endif %}
                    {{ task.status }}
                </td>
                <td></td>
            {% elif task.status == 'Error' %}
                <td>
                    <p class="text-danger">{{ task.message }}</p>
                </td>
                <td>
                    {% if not task.obsolete %}
                        <a class="btn btn-warning"
                           hx-post="{% url 'start_one_PDF' task.paper_number %}"
                           hx-target="#pdf_table">Retry</a>
                    {% endif %}
                </td>
            {% elif task.status == 'Queued' or ask.status == "Starting" %}
                <td>
                    {{ task.status }}
                    <div class="spinner-grow spinner-grow-sm text-secondary"></div>
                </td>
            {% elif task.status == 'Running' %}
                <td>
                    {{ task.status }}
                    <div class="spinner-grow spinner-grow-sm text-secondary"></div>
                </td>
                <td></td>
            {% else %}
                <td>{{ task.status }}</td>
                <td>
                    <a class="btn btn-primary"
                       hx-post="{% url 'start_one_PDF' task.paper_number %}"
                       hx-target="#pdf_table">Start</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
